*{

    margin:0;
    padding:0;
}
body{
    background-color: lightblue;
}

.titleB{
    text-align: center;
    padding-top: 140px; 
    color:white;
    
}

.container{
    width: 80%;
    height: 80%;
    justify-content: center;
    display: flex;
}

#img{
    height: 100%;
    width: 100%;
}

#btn{
    font-size: 2rem;
}